body {
	margin: 0;
	color: white;
	overflow: hidden;
	line-height: 1.7em;
	font-family: "Microsoft Yahei", 'Hiragino Sans GB', 'Source Han Sans',  sans-serif;
}
a:link, a:visited {
	color: white;
	text-decoration: none;
}
a:hover {
	color: white;
	border-bottom: #EAEAEA;
}
h2 {
	text-align: center;
	padding-bottom: 5%;
	border-bottom: 2px solid white;
}
h3 {
	text-indent: 7%;
}
ul {
	list-style: none;
}
li:hover {
	padding-left: 2%;
	font-weight: bolder;
}
section.top7 {
	float: left;
	width: 14.28%;
	padding-bottom: 5000px;
	margin-bottom: -5000px;
	box-shadow: -2px 0 16px 2px #666;
}
section#develop {
	background-color: #e74c3c;
}
section#product {
	background-color: #e67e22;
}
section#design {
	background-color: #f1c40f;
}
section#tool {
	background-color: #2ecc71;
}
section#social {
	background-color: #1abc9c;
}
section#media {
	background-color: #3498db;
}
section#hobby {
	background-color: #9b59b6;
}